# Python bytecode and cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-check.txt

# Databases & Local configs
.env
*.db
*.sqlite3

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Operating System files
.DS_Store
Thumbs.db